<head>
	<meta charset="utf-8">
	<title>Типа настройки</title>
</head>
<body>
	<label>Слава пикабу!</label>
	<br>
	<button id="clear">сбросить настройки</button>
	<br>
	<Label>GITLAB:</Label>
	<a href="https://gitlab.com/js-crome-plugins/vk-hotKey-like-pikabu">"GITLAB"</a>
	<script src="options.js"></script>
</body>