<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<div class="container">
		<h3 class="title">HotKey-pikabu</h3>
		<div class="button-container first">
			<div id='closeComment' class="top-button" title="Закрыть страницу комментариев">
				<div class="first-name">
				</div>
				<div class="second-name">
				</div>
			</div>
			<div id='like' class="top-button" title="Лайкнуть пост">
				<div class="first-name">
				</div>
				<div class="second-name">
				</div>
			</div>
			<div id='openComment' class="top-button" title="Открыть страницу с комментариями">
				<div class="first-name">
				</div>
				<div class="second-name">
				</div>
			</div>
			<div id='run' class="top-button" title="Запустить/остаановить видео, gif">
				<div class="first-name">
				</div>
				<div class="second-name">
				</div>
			</div>
		</div>
		<div class="button-container second">
			<div id='previusPost' class="top-button" title="Предыдущий пост">
				<div class="first-name">
				</div>
				<div class="second-name">
				</div>
			</div>
			<div  id='dislike' class="top-button" title="Убрать лайк с поста">
				<div class="first-name">
				</div>
				<div class="second-name">
				</div>
			</div>
			<div  id='nextPost' class="top-button" title="Следующий пост">
				<div class="first-name">
				</div>
				<div class="second-name">
				</div>
			</div>
			<div id='full' class="top-button" title="Показать полностью">
				<div class="first-name">
				</div>
				<div class="second-name">
				</div>
			</div>
		</div>
		<div class="button-container third">
			<div  id='UP' class="top-button" title="Вверх">
				<div class="first-name">
				</div>
				<div class="second-name">
				</div>
			</div>
			<div  id='toStart' class="top-button" title="К началу поста">
				<div class="first-name">
				</div>
				<div class="second-name">
				</div>
			</div>
			<div  id='DOWN' class="top-button" title="Вниз">
				<div class="first-name">
				</div>
				<div class="second-name">
				</div>
			</div>
		</div>
		<div class="message">
			щелни на кнопку чтобы изменить комбинацию
		</div>
	</div>
	<script src="popup.js"></script>
</body>