body {
	font-family: 'Pacifico';
	font-size: 18px;
	line-height: 0.4;
	background-image: linear-gradient(to bottom right, #828fb1, #343a4a);
	width: 17em;
	text-shadow: 0 0 3px white;
	color: white;
	text-align: center;
}

.title {
	font-size: 27px;
	margin-block-start: 0.5em;
	margin-block-end: 0.4em;
}

.button-container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	padding-block-start: 0.2em;
}

.top-button {
	background-position: center center;
	background-color: #4145508c;
	border: 1px solid #22252d;
	width: 50px;
	height: 50px;
	cursor: help;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 4px #22252d;
	transition: none;
	margin: 4px 5px 0 0;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	box-sizing: border-box;
	word-spacing: normal;
	text-indent: 0px;
	text-shadow: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.top-button:hover {
	box-shadow: 0 2px #22252d;
	top: 2px;
}

.top-button.editing {
	background-color: #686d7b;
	box-shadow: 0 0 #22252d;
	top: 4px;
}

.button-container.second {
	padding-left: 27px;
}

.button-container.third {
	padding-left: 15px;
}

.first-name, .second-name {
	width: 85%;
	flex: 1;
	padding-left: 2px;
	line-height: 1;
}

.second-name {
	text-align: right;
	font-size: 0.6em;
	line-height: 1;
	flex: 2;
}

.first-name {
	text-align: left;
}

.message {
	line-height: 1;
	margin-top: 8px;
	font-size: 16px;
}